<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>srvctl-gui</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/index.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-sanitize.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/index.js"></script>
    <script src="/js/hterm_all.js"></script>
</head>

<body ng-controller="mainController">
    <!-- header -->
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <h4 class="navbar-brand">{{ main.user }} {{hix}} {{cix}} {{lock}}</h4>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /Header -->
    <!-- Main -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <!-- Left column NAVIGATION -->

                <h4><i class="glyphicon glyphicon-hdd"></i> servers</h4>

                <div class="list-group">
                    <button ng-repeat="h in main.hosts" class="list-group-item {{ $index == hix && cix === undefined ? 'active' : 'inactive' }}" ng-click=" sethix($index); command('status'); " type="button" ng-disabled="lock">{{h.name}}</button>
                </div>

                <h4><i class="glyphicon glyphicon-list"></i> containers</h4>

                <div class="list-group">
                    <div ng-repeat="c in containers" class="dropdown">
                        <button class="list-group-item dropdown-toggle {{ $index == cix ? 'active' : 'inactive' }}" type="button" ng-click="setcix($index); command_ve('info'); " data-toggle="dropdown" ng-disabled="lock">{{c.name}} </button>
                    </div>
                </div>

                <h4><i class="glyphicon glyphicon-list"></i> commands</h4>

                <div class="list-group">
                    <button class="list-group-item" ng-click="reset_modal();modal.cmd='add-publickey'; modal.argument_txt= 'ssh-rsa AAA...';" type="button" data-toggle="modal" href="#argModal">add-publickey</button>
                    <a ng-if="hix !== undefined" href="/ssh/{{main.user}}@{{ main.hosts[hix].name }}" target="_blank" id="code" type="submit" class="list-group-item">ssh {{main.user}}@{{ main.hosts[hix].name }}</a>
                    <a ng-if="cix !== undefined" href="/ssh/root@{{ main.hosts[hix].containers[cix].name }}" target="_blank" id="code" type="submit" class="list-group-item">ssh root@{{ main.hosts[hix].containers[cix].name }}</a>
                </div>
            </div>

            <!-- /Main -->
            <div class="col-sm-10">

                <!-- hosts -->
                <div ng-if="lock" class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button class="btn btn-primary col-sm-3 dropdown-toggle" type="button" ng-click="lock=false">
                            <i class="glyphicon glyphicon-remove-sign"></i>
                            <br> Working!
                        </button>
                    </div>
                </div>
                <div ng-if="!lock && cix === undefined" class="btn-group btn-group-justified">

                    <div class="btn-group">
                        <button class="btn btn-primary col-sm-3 dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-cog"></i>
                            <br> Manage
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="i in ['start-all','stop-all','reboot-all']">
                                <button class="list-group-item" ng-click="command(i)">{{i}}</button>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-primary col-sm-3 dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-plus"></i>
                            <br> Add
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="i in ['add-fedora','add-codepad','add-ubuntu','add-apache','add-dyndns']">
                                <button class="list-group-item" ng-click="reset_modal();modal.cmd=i; modal.argument_txt= 'Domain name'; modal.be_fqdn= true;" data-toggle="modal" href="#argModal">{{i}}</button>
                            </li>
                        </ul>
                    </div>


                    <div class="btn-group">
                        <button class="btn btn-primary col-sm-3 dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-info-sign"></i>
                            <br> Info
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="i in ['status-all','usage','top','version','diagnose','man']">
                                <button class="list-group-item" ng-click="command(i)">{{i}}</button>
                            </li>
                        </ul>
                    </div>

                </div>

                <!-- Containers -->
                <div ng-if="!lock && cix !== undefined" class="btn-group btn-group-justified">

                    <div class="btn-group">
                        <button class="btn btn-primary col-sm-3 dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-cog"></i>
                            <br> Manage
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="i in ['start','stop','reboot']">
                                <button class="list-group-item" ng-click="command_ve(i)">{{i}}</button>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-primary col-sm-3 dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-plus"></i>
                            <br> Add
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="i in ['add-user']">
                                <button class="list-group-item" ng-click="reset_modal();modal.cmd=i; modal.argument_txt= 'Username';" data-toggle="modal" href="#argModal">{{i}}</button>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-primary col-sm-3 dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-minus"></i>
                            <br> Remove
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="i in ['kill','disable','remove']">
                                <button class="list-group-item" ng-click="command_ve(i)">{{i}}</button>
                            </li>

                        </ul>
                    </div>

                    <div class="btn-group ">
                        <button class="btn btn-primary col-sm-3 dropdown-toggle" type="button" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-info-sign"></i>
                            <br> Info
                        </button>
                        <ul class="dropdown-menu ">
                            <li ng-repeat="i in ['info','man']">
                                <button class="list-group-item" ng-click="command_ve(i)">{{i}}</button>
                            </li>
                        </ul>
                    </div>

                </div>

                <br>
                <div id="terminal" ng-bind-html='terminal'></div>

            </div>
        </div>
    </div>
    <!-- modal -->
    <div class="modal" id="argModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{modal.cmd }}</h4>
                </div>
                <div class="modal-body">
                    <input class="form-control" placeholder="{{ modal.argument_txt }}" ng-model="modal.argument" type="text">
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn">Cancel</a>
                    <a href="#" data-dismiss="modal" ng-if="!modal.be_fqdn || modal.be_fqdn && is_fqdn(modal.argument)" ng-click="command(modal.cmd + ' ' + modal.argument + ' ' + modal.optional)" class="btn btn-primary">Apply</a>
                </div>
            </div>
        </div>

</body>

</html>